4- Un sitio de Ebooks tiene información sobre los reviews que los usuarios hacen de sus libros
en un DataFrame con formato (user_id, book_id, rating, timestamp). Por otro lado tenemos
información en otro DataFrame que bajamos de GoodReads: (book_id, book_name,
avg_rating). Podemos suponer que los Ids de los libros son compatibles. Se pide usar Python
Pandas para:
* Obtener un DataFrame que indique el TOP5 de Ebooks en el sitio de Ebooks. (Para este punto se puede ignorar el segundo DataFrame).
* Obtener un DataFrame que indique qué libros tienen una diferencia de rating promedio mayor al 20% entre el sitio de Ebooks y GoodReads.

*Datasets generados por https://www.generatedata.com/*

*La columna de book_name va a tener nombres de quimicos por el generador :/*

In [1]:
import pandas as pd

In [12]:
#Cargo el Dataframe correspondiente al sitio de los Ebooks
ebooks_df = pd.read_csv('Datasets/SitioEbooks.csv')
ebooks_df.head()

   user_id  book_id  rating timestamp
0     2509    10043       3  24-12-18
1     1073    10037       7  15-02-19
2     2951    10012       1  04-06-19
3     2115    10063       1  28-06-20
4     1606    10019       7  16-10-19

In [39]:
#Cargo el Dataframe correspondiente al sitio de GoodReads
good_reads_df = pd.read_csv('Datasets/GoodReads.csv')
good_reads_df.head()

   book_id                       book_name  avg_rating
0    10007  Lisinopril/Hydrochlorothiazide          10
1    10034                Hydrocodone/APAP           3
2    10082                      Lisinopril           8
3    10082   Sulfamethoxazole/Trimethoprim           3
4    10111                   Metformin HCl           3

**Obtener un DataFrame que indique el TOP5 de Ebooks en el sitio de Ebooks. (Para este punto se puede ignorar el segundo DataFrame).**

In [23]:
mean_rating_ebook_df = ebooks_df.groupby(by='book_id').agg({'rating':'mean'})
mean_rating_ebook_df.nlargest(5,'rating')

         rating
book_id
10008      10.0
10028      10.0
10053      10.0
10073      10.0
10064       9.0

**Obtener un DataFrame que indique qué libros tienen una diferencia de rating promedio mayor al 20% entre el sitio de Ebooks y GoodReads.**

In [40]:
good_reads_df.set_index('book_id',inplace=True)

In [43]:
good_reads_df.sort_index(ascending=True,inplace=True)

In [45]:
#Agrego los libros que tienen el promedio de rating del sitio de Ebook al de GoodReads
good_reads_df['avg_rating_ebooks'] = mean_rating_ebook_df['rating']

In [52]:
good_reads_df = good_reads_df.rename(columns = {'avg_rating':'avg_rating_goodreads'})
good_reads_df.head()

,book_name,avg_rating_goodreads,avg_rating_ebooks
book_id,,,
10000,Simvastatin,2,6.0
10004,Zyprexa,5,8.0
10007,Lisinopril/Hydrochlorothiazide,10,NaN
10009,Sulfamethoxazole/Trimethoprim,10,6.0
10011,Sertraline HCl,7,NaN

In [57]:
good_reads_ebook_diff_df = good_reads_df.loc[(good_reads_df['avg_rating_ebooks']/good_reads_df['avg_rating_goodreads'])>0.2,:]
good_reads_ebook_diff_df

,book_name,avg_rating_goodreads,avg_rating_ebooks
book_id,,,
10000,Simvastatin,2,6.000000
10004,Zyprexa,5,8.000000
10009,Sulfamethoxazole/Trimethoprim,10,6.000000
10012,Ibuprofen (Rx),1,4.333333
10013,Cymbalta,2,5.500000
10013,Lisinopril,7,5.500000
10022,Diovan,8,2.500000
10023,Loestrin 24 Fe,10,3.000000
10023,Lisinopril,5,3.000000
10032,Zolpidem Tartrate,2,5.000000
10032,Metformin HCl,0,5.000000
10033,Hydrochlorothiazide,10,6.000000
10034,Hydrocodone/APAP,3,1.500000
10037,Metformin HCl,5,7.000000
10044,Furosemide,10,4.500000
10044,Prednisone,7,4.500000
10046,Endocet,2,1.000000
10053,Lisinopril,0,10.000000
10055,Losartan Potassium,2,3.750000
10057,Losartan Potassium,9,6.000000
10057,Lorazepam,2,6.000000
10064,Metoprolol Succinate,4,9.000000
10075,Tramadol HCl,7,8.000000